# Data exploration
jupyter
numpy
opencv-python
matplotlib
pyyaml
pandas
seaborn

# Training and model
ultralytics
torch
torchvision
tqdm
tensorboard

# Experiment tracking
# Leave installed so GPU boxes can log experiments automatically.
wandb
